<div data-controller="dropdown"  class="task group " data-dropdown-position-target="item">
  <p class="line-clamp-4 leading-5 max-h-20 break-words "><%= @task.title %></p>
  <%= button_tag class:"flex gap-3 text-slate-900 opacity-0 group-hover:opacity-100", data:{action:"dropdown#toggle click@window->dropdown#hide click->dropdown-position#setPosition"} do%>
    <%= render (Icon::IconsComponent.new(icon:'more')) %>
  <% end %>
  <div
      data-dropdown-target="menu"
      data-dropdown-position-target="menu"
      class="hidden transition transform origin-center left-60 z-10 absolute w-full"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
    >
    <ul class="flex flex-col gap-4 bg-white drop-shadow-2xl rounded-lg p-3 w-fit text-xs">
      <div class="flex flex-col gap-2">
        <li class=" p-1 hover:bg-stone-100 rounded-md cursor-pointer">
          <%= link_to task_edit_path(@task),class:"flex gap-2 items-center" do%>
            <%= render (Icon::IconsComponent.new(icon:'edit', size:14)) %>
            <p >Editar tarefa</p>
          <% end %>
        </li>
        <li class="flex gap-2 items-center p-1 hover:bg-stone-100 rounded-md cursor-pointer">
          <%= render (Icon::IconsComponent.new(icon:'move', size:14)) %>
          <p>Mover para</p>
        </li>
        <li class="flex gap-2 items-center p-1 hover:bg-stone-100 rounded-md cursor-pointer">
          <%= render (Icon::IconsComponent.new(icon:'trash', size:14)) %>
          <p>Deletar</p>
        </li>
      </div>
      <li class="font-normal text-stone-500 border-t pt-2">
        <p >Ultima atualização em:</p>
        <p ><%= @task.updated_at %></p>
      </li>
    </ul>
  </div>
</div>