<%= turbo_stream.append "#{@task.status}", locals: { task: @task } do%>
  <%= render Task::TaskListItemComponent.new(task:@task) %>
<% end %>

<%= turbo_stream.replace "task_modal" do%>
  <%= turbo_frame_tag "task_modal" do%>
  <% end %>
<% end %>

<%= turbo_stream.replace "counter_#{@task.status}", locals: {task_counter:@task_counter} do%>
  <span class="block py-[2px] px-[6px]  rounded-full bg-stone-300 font-semibold text-slate-700" id=<%= "counter_#{@task.status}" %>><%= @task_counter %></span>
<% end %>
