<%= turbo_frame_tag "edit_modal" do%>
  <div class=" flex justify-center items-center absolute top-0 left-0 z-50 w-screen h-screen bg-stone-700 bg-opacity-30">
    <div class="max-h-[600px] h-full w-full max-w-[700px] rounded-lg bg-white p-8 drop-shadow-lg">
      <%= form_with(model:@task, url:task_edit_path(@task)) do |f|%>
        <div class="flex flex-col gap-6">
          <%= f.text_field :title, class:"border-0 w-full font-semibold text-3xl text-slate-800 focus:ring-0 p-0"%>
          <div class="flex flex-col gap-3">
            <div class="flex gap-8 items-center">
              <div class="badge to-do">
                <div class="flex items-center gap-2  ">
                  <%= render Icon::IconsComponent.new(icon:'status', stroke:2.5) %>
                  <span>Status:</span>
                </div>
                <span class="font-semibold"><%= @task.status %></span>
              </div>
            </div>
            <div class="badge text-stone-500 border-stone-300">
              <div class="flex items-center gap-2  ">
                <%= render Icon::IconsComponent.new(icon:'date', stroke:2.3) %>
                <span>Criado em:</span>
              </div>
              <span class="font-semibold"><%= @task.created_at%></span>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div class="flex gap-2 items-center ">
              <%= render Icon::IconsComponent.new(icon:"text") %>
              <span class="font-medium text-slate-800">Descrição</span>
            </div>
            <div class="px-6 py-4 ml-6 bg-stone-200 bg-opacity-80 rounded-lg" data-controller="character-counter" data-character-counter-countdown-value="true">
                <%= f.text_area :description,size: '300x7',maxlength:300, class:"w-[calc(100%-1.5rem)] bg-transparent border-none resize-none text-sm focus:ring-0", placeholder:"Descreva sua tarefa aqui...", data:{character_counter_target:"input"}%>
                <span data-character-counter-target="counter" class="inline-block w-full text-right text-xs text-slate-500"></span>
            </div>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
