<%= turbo_frame_tag "new_#{@task.status}" do%>
  <%= form_with(model:@task ,url:task_create_path,data:{turbo_frame:"tasks_#{@task.status}",turbo_method: :post}, class:" flex flex-col gap-2 drop-shadow-md bg-white p-3 rounded-lg") do |f|%>
    <%= f.text_field :title, class:"py-2 w-full text-sm border-none focus:ring-0 bg-stone-100 rounded-lg", placeholder:"Insira um título para a tarefa..."%>
    <%= f.hidden_field :status, value:@task.status %>
    <% @task.errors.any? do%>
      <div class="text-red-800 flex gap-1 items-center font-medium">
        <%= render Icon::IconsComponent.new(icon:'alert',size:14, stroke:2.7) %>
        <% @task.errors[:title].each do |error|%>
          <p ><%= error %></p>
        <% end %>
      </div>
    <% end %>
    <%= button_to do %>
      <div class="flex justify-center items-center gap-2 w-full bg-slate-700 py-2 text-white text-sm rounded-lg">
        <%= render (Icon::IconsComponent.new(icon:'plus',stroke:2.8)) %>
        <p>Adicionar Item</p>
      </div>
    <% end %>
  <% end %>
<% end %>
